@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


.nav-bar.nav-dd-bounce ul ul{
right: 0;
}

.h-100p{
height:100%;
}

.c-textarea {
    .control {
    height: 10rem;
    }
}

.h-textarea {
    .control {
    height: 5rem;
    }
}

.cursor-pointer {
    cursor: pointer;
}
